
@{
    ViewBag.Title = "KorisnickiPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nav1 nav navbar-fixed-top">
    <img id="slika1PanelKorisnika" class="img-circle" src="~/Content/Images/Milos.jpg" />
</div>



<div class="col-lg-6 col-md-12">
       
</div>


<div class="col-lg-6 col-md-12">
    <h1>Ovo je moje pitanje</h1>
    <table class="reply">
        <tbody>
            <tr>
                <td class="votecell">
                    <div class="vote">
                        <p><a class="plus" href="#"><span class="glyphicon glyphicon-plus-sign"></span></a></p>
                        <p><a class="number">5</a></p>
                        <p><a class="minus" href="#"><span class="glyphicon glyphicon-minus-sign"></span></a></p>
                    </div>
                </td>

                <td>
                    <div class="text-reply">
                        Odgovor na pitanje je sledece!!!!!!!!!
                    </div>
                </td>
            </tr>

            <tr>
                Komentar1
            </tr>

            <tr>
                Komentar2
            </tr>
        </tbody>>
    </table>




</div>

