
@{
    ViewBag.Title = "PitanjeIOdgovori";
}
@Styles.Render("~/Content/PitanjaIOdgovoriStilovi.css")


<div class="pitanjeIautor">
    <button id="buttonPlus" class="btn btn-success" name="buttonPlus">
        +
    </button>
    <button id="buttonMinus" class="btn btn-danger" name="buttonMinus">-</button>
</div>

