@{
    ViewBag.Title = "Administracija";
}

<h1 class="center">Administratorski panel</h1>

<ul class="nav nav-tabs nav-stacked navigacija">
    <li>
         <a class="col-lg-4" href="/Administracija/AdministracijaSmerova">Administracija smerova</a>
         <p class="col-lg-8">Mogućnost dodavanja, brisanja i ažuriranja smera.</p>
    </li>
    <li>
        <a class="col-lg-4" href="/Administracija/AdministracijaPredmeta">Administracija predmeta</a>
        <p class="col-lg-8">Mogućnost dodavanja, brisanja i ažuriranja predmeta.</p>
    </li>
    <li>
        <a class="col-lg-4" href="/Administracija/AdministracijaKorisnika">Administracija korisnika</a>
        <p class="col-lg-8">Mogućnost menjanja statusa i menjanja role korisnika.</p>
    </li>
    <li>
        <a class="col-lg-4" href="/Administracija/AdministracijaTagova">Administracija tagova</a>
        <p class="col-lg-8">Mogućnost dodavanja novih tagova iz liste predloženih.</p>
    </li>
</ul>
