@model List<AdiutorBootstrap.Models.SmerModel>

@{
    ViewBag.Title = "AdministracijaSmerova";
}

<h2>AdministracijaSmerova</h2>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">

    </div>
    <div class="col-lg-3"></div>
</div>

