@{
    ViewBag.Title = "Administracija";
}

<h1 class="center">Administratorski panel</h1>

<ul class="nav nav-tabs navigacija">
    <li><a href="Administracija/AdministracijaSmerova">Administracija smerova</a></li>
    <li><a href="Administracija/AdministracijaSmerova">Administracija predmeta</a></li>
    <li><a href="Administracija/AdministracijaSmerova">Administracija tagova</a></li>
    <li><a href="Administracija/AdministracijaSmerova">Administracija korisnika</a></li>
</ul>
