@{
    ViewBag.Title = "Oblasti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/KarticeStilovi")
@Styles.Render("https://fonts.googleapis.com/css?family=Merriweather")


<form>
 <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
        @for (var i = 1; i <10; i++)
        {
            <div class="kartica">
                <div class="tekst_pitanja">

                    <div class="autor_vreme_container">
                        <div class="vremeIdatum">24.5.2016. | 13:55 </div>
                        <div class="imeAutora"><a href="#">Milos Mladenovic</a></div>
                    </div>

                    <div class="tekst">
                        <p>Šta se dešava kada nakon case u switch-case strukturi u C-u izostavim break?</p>
                    </div>

                    <div class="tagovi_container">
                        <div class="tagovi">
                            <a href="#">#neki</a>
                        </div>

                    </div>
                </div>

                <div class="dodatni_atributi">

                    <div class="brOdgovora_container">
                        <div class="broj">
                            @i odgovora
                        </div>
                    </div>

                </div>
            </div>

            <br />
        }

    </div>

</form>

<form method="get" action="@Url.Action("NovoPitanje","NovoPitanje")">
    <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <p class="paragraf">
                    Pitanja slična onima koja ste tražili se nalaze sa vaše leve strane, sortirana po hronološkom redosledu. Ukoliko imate da postavite
                    novo pitanje, kliknite na dugme ispod.
                </p>
            </div>
        </div>


        <div class="container postaviPitanje" >
            <button id="postaviNovoPitanje" type="submit" class="btn btn-primary" >Postavi novo pitanje</button>
        </div>


    </div>

    

</form>


