@model AdiutorBootstrap.Models.OdabirPredmetaModel

@{
    ViewBag.Title = "Odabir_predmeta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-5 smerovi">
    <ul class="nav nav-tabs nav-stacked navigacija">
        @foreach (var smer in Model.listaSmerova)
        {
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">@smer.Ime<b class="caret"></b></a>
                <ul class="dropdown-menu pull-right">
                    @for (int i = smer.PocSem; i <= smer.KrajSem; i++)
                    {
                        <li><a href="#" onclick="OdabraniSmer(@smer.Id, @i)">@i. semestar</a></li>
                    } 
                </ul>
            </li>
        }
    </ul>
</div>


<div class="col-lg-5 col-md-6 col-sm-8 col-xs-8">
    <div class="panel panel-info panel1">
        <div class="panel-heading hedingOpredmetima"><h3 id="naslovOpredmetima">Spisak predmeta po smerovima i semestru</h3></div>
    </div>

    <div id="informacijeOpredmetima">

        
    </div> 
</div>

<script type="text/javascript">
    {
        function OdabraniSmer(Id, sem)
        {
            var send = { smerId:Id, semestar:sem };
            $.get("VratiPredmete", send, function(data) {
                var deca = document.getElementById("informacijeOpredmetima");
                while (deca.firstChild) {
                    deca.removeChild(deca.firstChild);
                }

                var referenca = document.getElementById("informacijeOpredmetima")
                var ul = document.createElement("ul");
                ul.className = "exams";
                for (var i = 0; i < data.length; i++)
                {
                    var list = document.createElement("li");
                    var link = document.createElement("a");
                    link.href = "/Predmet/VratiPredmetPoId?predmetId=" + data[i].Id;
                    link.className="elementiListe";
                    link.innerHTML = data[i].Ime;
                    list.appendChild(link);
                    ul.appendChild(list);
                }
                referenca.appendChild(ul);
            });
        }
    }
</script>