@model AdiutorBootstrap.Models.NovoPitanjeModel

@{
    ViewBag.Title = "NovoPitanje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("//cdn.ckeditor.com/4.5.9/full/ckeditor.js")
<form id="forma1" method="post" action="@Url.Action("DodajPitanje","NovoPitanje")">
    <h1 id="dodaj">Dodaj novo pitanje</h1>
    <div id="naslovPit">
        <h3>Unesi naslov pitanja:</h3>
        <input type="text" size="80" name="naslovPitanja" id="textNaslov" />
        
        @if (Model != null)
        {
            <br />
            <h3>Unesi ime oblasti:</h3>
       <input list="oblastiLista" onkeyup="ajaxPoziv()" id="obl" name="imeOblasti"/>
          <datalist name="SveOblasti" id="oblastiLista" >

        </datalist>
        }
    </div>
    <div class="editor1 ">
        <textarea name="textarea" id="textarea"></textarea>

        <script>
            CKEDITOR.replace('textarea');
        </script>

        <div id="dugmeItagovi">
            <h3 id="tg">Unesi tagove:</h3>
            <input list="tagoviLista" name="tagovi" size="35" id="tagsLista" onkeyup="ajaxPozivTagovi()"/>
            <datalist id="tagoviLista">


            </datalist>
            <button id="upload" class="btn btn-primary" onkeyup="myFunction()">Predaj pitanje</button>
        </div>



        <script type="text/javascript">
            {
                function myFunction() {
                    var tekst = CKEDITOR.instances.textarea.getData();
                    window.location = "Home/Pocetna";
                }



            }
        </script>


        <script type="text/javascript">
            {
                function ajaxPoziv() {
                    if ($('#obl').val().length == 0) {
                        var prvoSlovoPitanja = $('#obl').val()[0];

                        var prvoS = { PrvoSlovo: prvoSlovoPitanja }


                        $.post("VratiOblastiPoPrvomSlovu", prvoS, function (prvoS){
                            $.each(prvoS.ListaOblasti, function (index) {
                                var opcija = document.createElement("option");
                                opcija.value = prvoS.ListaOblasti[index];

                                var roditelj = document.getElementById("oblastiLista");
                                roditelj.appendChild(opcija);
                                 });
                            });
                      }

                }


                function ajaxPozivTagovi() {
                    if ($('#tagsLista').val()[$('#tagsLista').val().length-1]!='#' && ($('#tagsLista').val().length==2) ) {
                        var prvoSlovoTaga = $('#tagsLista').val()[1];
                        var prvoS = { PrvoSlovo: prvoSlovoTaga }

                        if ($('#tagsLista').val()[0] == '#') {
                            $.post("VratiSveTagove", prvoS, function (data) {
                                $.each(data, function (index) {
                                    var opcija = document.createElement("option");
                                    opcija.value = "#" + data[index];

                                    var roditelj = document.getElementById("tagoviLista");
                                    $('#tagoviLista').empty();
                                    roditelj.appendChild(opcija);
                                });
                            });
                        }
                    }

                   
                    if ($('#tagsLista').val()[($('#tagsLista').val().length) - 3] ==' ' && $('#tagsLista').val()[$('#tagsLista').val().length - 2] == '#')
                    {
                        //ako je blanko pretposlednji uneti znak, a poslednji #, znaci da kucamo sledeci tag
                   
                        var uneseniTagovi = $('#tagsLista').val();
                        
                        var prvoSlovoTaga = $('#tagsLista').val()[$('#tagsLista').val().length-1];
                        var prvoS = { PrvoSlovo: prvoSlovoTaga }

                        $.post("VratiSveTagove", prvoS, function (data) {
                            $.each(data, function (index) {
                                var opcija = document.createElement("option");
                                opcija.value = uneseniTagovi + data[index];

                                var roditelj = document.getElementById("tagoviLista");
                                $('#tagovLista').empty();
                                roditelj.appendChild(opcija);

                            });
                         });

                        


                    }

                }

            }
        </script>


    </div>

</form>
