
@{
    ViewBag.Title = "NovoPitanje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("//cdn.ckeditor.com/4.5.9/standard/ckeditor.js")

<textarea name="textarea" id="textarea"></textarea>

<script>
    CKEDITOR.replace('textarea');
</script>

<button id="upload" class="btn btn-default" onclick="myFunction()" >Predaj pitanje</button>

<script type="text/javascript">
    {
       function myFunction(){
              var tekst = CKEDITOR.instances.textarea.getData();
              alert(tekst);
              window.location = "Home/Pocetna";
           }
}
</script>
